/* 全局样式 */
html, body, #app{
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 修改element-ui的一些组件样式 */
.el-breadcrumb{
  margin-bottom: 15px;
  font-size: 12px;
}
.el-card{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}